<% if @stock %>
    <div class="col-md-8 mt-3">
        <div class="card card-header" style="display: inline-block;  font-size: 13px;">
            <b>Ticker: </b> <%= @stock.ticker %>
            <b>Company Name: </b> <%= @stock.name %>
            <b>Last Price: </b> <%= @stock.last_price %>
        </div>
    </div>
<% end %>