.not-left-padding{
    padding-left: 0px !important;

    button {
        border-radius: 0 !important;
    }
}

.not-right-padding{
    padding-right: 0px !important;

    input {
        border-radius: 0 !important;
    }
}